@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #FCEEC8;
}
.container{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    background-color: #A83A3A;
}
.left-content,.right-content{
    flex-basis: 50%;
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:5rem;
}
.card{
    width: 300px;
    background-color:#FFFFFF;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /* cursor: pointer; */

    margin: 10px;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}
.card img{
    background-color: #e9e9e9;
    border-radius: 50%;
    width: 130px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top:100px;
    right: 10px;
}
.right-content img{
    margin: 1.5rem;
    height: 160px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 15px;
    border-radius: 8px;
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
    flex-direction: column;
}
.btn-group button{
    align-items: center;
    width: 23vh;
    height: 6vh;
    border-radius: 10px;
    border: none;
    background-color: #3a5ca8;
    color: #ffffff;
    margin: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 50%);
    font-family: 'VT323';
    font-size: 2vh;
    cursor: pointer;
}
